@font-face {
  font-family: Roboto;
  src: url(../../assets/font/Roboto.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../../assets/font/Roboto.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

header {
  margin: 0 auto;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: center;
}
header .header-block {
  margin: 0 auto;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
header .header-block__logo {
  margin: 0 auto;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #051329;
  color: #ffffff;
}
header .header-block__logo img {
  margin: 0 auto;
  height: 40%;
}
header .header-block__logo p {
  margin: 0 auto;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0%;
  color: #ffffff;
}
header .header-block__center {
  margin: 0 auto;
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1px solid #b8b8b8;
}
header .header-block__center__box {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
header .header-block__center__box__menu {
  padding-left: 10px;
  width: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
header .header-block__center__box__menu__burger-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
header .header-block__center__box__menu__burger-box__burger {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  cursor: pointer;
}
header .header-block__center__box__menu__burger-box .site-menu {
  position: absolute;
  left: -20%;
  top: 3.75vh;
  min-width: 20vw;
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f0f0f0;
  border-color: #b8b8b8;
  border-radius: 2px;
  display: none;
  z-index: 1;
}
header .header-block__center__box__menu__burger-box .site-menu__link {
  margin-bottom: 10px;
  text-decoration: none;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: #051329;
}
header .header-block__center__box__menu__burger-box .site-menu__link:hover {
  color: green;
}
header .header-block__center__box__menu__burger-box__burger:hover {
  border: 1px solid #b8b8b8;
  border-radius: 2px;
}
header .header-block__center__box__menu__burger-box:hover .site-menu {
  display: inline-flex;
}
header .header-block__center__box__menu__button-box {
  margin: 0 auto;
  width: 80%;
}
header .header-block__center__box__menu__button-box button {
  width: 20%;
  height: 100%;
  background-color: #f0f0f0;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0%;
  color: #051329;
  cursor: pointer;
}
header .header-block__center__box__menu__button-box button:hover {
  background-color: #b8b8b8;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0%;
}
header .header-block__center__box__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
header .header-block__center__box__search__input-box {
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
header .header-block__center__box__search__input-box__button-search {
  margin-left: 10px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: #ffffff;
  cursor: pointer;
}
header .header-block__center__box__search__input-box__input-search {
  padding-left: 5px;
  border: 1px solid #b8b8b8;
  border-radius: 2px;
}
header .header-block__center__box__search__input-box__button-search:hover {
  border: 1px solid #7d7d7d;
  border-radius: 2px;
}
header .header-block__center__box__search__input-box__input-search:focus {
  outline: #b8b8b8;
  background-color: #f0f0f0;
}
header .header-block__services {
  margin: 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1px solid #b8b8b8;
}
header .header-block__services__box {
  margin: 0 auto;
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
header .header-block__services__box__item {
  margin-right: 20px;
  padding: 2px;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
}
header .header-block__services__box__item:hover {
  border: 1px solid #7d7d7d;
  border-radius: 2px;
}
header .header-block__services__box .user {
  height: 90%;
  border-radius: 20px;
}
header .header-block__services__box .user:hover {
  border: 1px solid #7d7d7d;
  border-radius: 20px;
}

@font-face {
  font-family: Roboto;
  src: url(../../assets/font/Roboto.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

footer {
  margin: 0 auto;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
footer .footer-block {
  margin: 0 auto;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
footer .footer-block__copyrights {
  margin: 0 auto;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #051329;
  color: #ffffff;
}
footer .footer-block__copyrights p {
  margin: 0 auto;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0%;
  color: #f0f0f0;
}
footer .footer-block__center {
  margin: 0 auto;
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f0f0f0;
}
footer .footer-block__center__box {
  margin: 0 auto;
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
footer .footer-block__center__box__content {
  margin: 0 auto;
}
footer .footer-block__center__box__content p {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0%;
  color: #7d7d7d;
}
footer .footer-block__services {
  margin: 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f0f0f0;
}
footer .footer-block__services__box {
  margin: 0 auto;
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
footer .footer-block__services__box__item {
  margin-right: 20px;
  padding: 2px;
  cursor: pointer;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  box-sizing: border-box;
}
footer .footer-block__services__box__item:hover {
  border: 1px solid #7d7d7d;
  border-radius: 2px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  flex-grow: 1;
}
.wrapper .top header {
  margin: 0 auto;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: center;
}
.wrapper .top header .header-block {
  margin: 0 auto;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top header .header-block__logo {
  margin: 0 auto;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #051329;
  color: #ffffff;
}
.wrapper .top header .header-block__logo img {
  margin: 0 auto;
  height: 40%;
}
.wrapper .top header .header-block__logo p {
  margin: 0 auto;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0%;
  color: #ffffff;
}
.wrapper .top header .header-block__center {
  margin: 0 auto;
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1px solid #b8b8b8;
}
.wrapper .top header .header-block__center__box {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top header .header-block__center__box__menu {
  padding-left: 10px;
  width: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .header-block__center__box__menu__burger-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top header .header-block__center__box__menu__burger-box__burger {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  cursor: pointer;
}
.wrapper .top header .header-block__center__box__menu__burger-box .site-menu {
  position: absolute;
  left: -20%;
  top: 3.75vh;
  min-width: 20vw;
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f0f0f0;
  border-color: #b8b8b8;
  border-radius: 2px;
  display: none;
  z-index: 1;
}
.wrapper .top header .header-block__center__box__menu__burger-box .site-menu__link {
  margin-bottom: 10px;
  text-decoration: none;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: #051329;
}
.wrapper .top header .header-block__center__box__menu__burger-box .site-menu__link:hover {
  color: green;
}
.wrapper .top header .header-block__center__box__menu__burger-box__burger:hover {
  border: 1px solid #b8b8b8;
  border-radius: 2px;
}
.wrapper .top header .header-block__center__box__menu__burger-box:hover .site-menu {
  display: inline-flex;
}
.wrapper .top header .header-block__center__box__menu__button-box {
  margin: 0 auto;
  width: 80%;
}
.wrapper .top header .header-block__center__box__menu__button-box button {
  width: 20%;
  height: 100%;
  background-color: #f0f0f0;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0%;
  color: #051329;
  cursor: pointer;
}
.wrapper .top header .header-block__center__box__menu__button-box button:hover {
  background-color: #b8b8b8;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0%;
}
.wrapper .top header .header-block__center__box__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .header-block__center__box__search__input-box {
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top header .header-block__center__box__search__input-box__button-search {
  margin-left: 10px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: #ffffff;
  cursor: pointer;
}
.wrapper .top header .header-block__center__box__search__input-box__input-search {
  padding-left: 5px;
  border: 1px solid #b8b8b8;
  border-radius: 2px;
}
.wrapper .top header .header-block__center__box__search__input-box__button-search:hover {
  border: 1px solid #7d7d7d;
  border-radius: 2px;
}
.wrapper .top header .header-block__center__box__search__input-box__input-search:focus {
  outline: #b8b8b8;
  background-color: #f0f0f0;
}
.wrapper .top header .header-block__services {
  margin: 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1px solid #b8b8b8;
}
.wrapper .top header .header-block__services__box {
  margin: 0 auto;
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top header .header-block__services__box__item {
  margin-right: 20px;
  padding: 2px;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
}
.wrapper .top header .header-block__services__box__item:hover {
  border: 1px solid #7d7d7d;
  border-radius: 2px;
}
.wrapper .top header .header-block__services__box .user {
  height: 90%;
  border-radius: 20px;
}
.wrapper .top header .header-block__services__box .user:hover {
  border: 1px solid #7d7d7d;
  border-radius: 20px;
}
.wrapper .top main {
  margin: 0 auto;
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top main .main-block {
  margin: 0 auto;
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .main-block__board {
  margin: 0 auto;
  width: 20%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  background-color: #051329;
  color: #ffffff;
}
.wrapper .top main .main-block__board__item {
  margin: 0;
  margin-left: 10%;
  margin-top: 10px;
  width: 80%;
}
.wrapper .top main .main-block__board__item button {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: #ffffff;
  text-align: left;
  background-color: #051329;
  border: none;
  cursor: pointer;
}
.wrapper .top main .main-block__board button:hover {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0%;
}
.wrapper .top main .main-block__fields {
  margin: 0 auto;
  width: 80%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  color: #000000;
}
.wrapper .top main .main-block__fields__item {
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
  width: 98%;
  border: 1px solid #b8b8b8;
  border-radius: 2px;
}
.wrapper footer {
  margin: 0 auto;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper footer .footer-block {
  margin: 0 auto;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-block__copyrights {
  margin: 0 auto;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #051329;
  color: #ffffff;
}
.wrapper footer .footer-block__copyrights p {
  margin: 0 auto;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0%;
  color: #f0f0f0;
}
.wrapper footer .footer-block__center {
  margin: 0 auto;
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f0f0f0;
}
.wrapper footer .footer-block__center__box {
  margin: 0 auto;
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper footer .footer-block__center__box__content {
  margin: 0 auto;
}
.wrapper footer .footer-block__center__box__content p {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0%;
  color: #7d7d7d;
}
.wrapper footer .footer-block__services {
  margin: 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f0f0f0;
}
.wrapper footer .footer-block__services__box {
  margin: 0 auto;
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper footer .footer-block__services__box__item {
  margin-right: 20px;
  padding: 2px;
  cursor: pointer;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  box-sizing: border-box;
}
.wrapper footer .footer-block__services__box__item:hover {
  border: 1px solid #7d7d7d;
  border-radius: 2px;
}/*# sourceMappingURL=logs.css.map */