<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="../styles/components/footer/footer.css" />
  </head>
  <body>
    <footer>
      <div class="footer-block">
        <div class="footer-block__copyrights">
          <p>&#169;&nbsp;2023 All rights reserved</p>
        </div>
        <div class="footer-block__center">
          <div class="footer-block__center__box">
            <nav class="footer-block__center__box__content">
              <p>Any content</p>
            </nav>
          </div>
        </div>
        <div class="footer-block__services">
          <div class="footer-block__services__box">
            <div class="footer-block__services__box__item">
              <img src="../assets/icons/repo.png" alt="repo" />
            </div>
            <div class="footer-block__services__box__item">
              <img src="../assets/icons/clouds.png" alt="clouds" />
            </div>
            <div class="footer-block__services__box__item">
              <img src="../assets/icons/database.png" alt="database" />
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
